<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure Google</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="text-2xl font-extrabold m-4 ">O-Auth Application Status</h1>

    <h3 class="text-xl text-green-400  m-4">Google Login Failure ❌ </h3>

</body>

</html>