<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="text-center">
  <h1>OAuth in <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <a href="/auth/github" class="text-xl font-semibold text-blue-400">Login using Github</a>
  <a href="/auth/google" class="text-xl font-semibold text-yellow-400">Login using Google</a>
</body>

</html>