<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="text-center font-semibold">
  <h1>
  O-Auth in  <%= title %>
  </h1>
  <p>Welcome to <%= title %> 
  </p>
  <a href="/auth/github" class="text-xl text-blue-400 "> Login With Github </a>
  <a href="/auth/google" class="text-xl text-yellow-400 ml-4 "> Login With Google </a>

</body>

</html>